/*-- Layout Styles
--*/
body {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;	
}

a {
	font-weight: 700;
	color: darkgreen;
	text-decoration: none;
}
a:visited {
	color: green;
}
a:hover {
	color: green;
}
a:active {

}

h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 300;
}

.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container > div {
	min-height: 150px;
	min-width: 150px;
	padding: 1em;
	box-sizing: border-box;
}
      
.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.cr, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14 {
	width: 100%;
}

div.cr {
	display: flex;
	min-height: 0;
}

.cr > h1 {
	font-family: 'Roboto Slab';
	font-size: 3rem;
	font-weight: 100;
	margin: 0;
	padding: 0;
	transition: 0.5s;
	line-height: 1;
}

span.tagline {
	font-size: 1rem;
	color: gold;
	font-weight: 700;
	transition: 0.5s;
}

.feeds ul {
	list-style: none;
	padding-left: 0px;
}
.feeds li {
	margin-bottom: 10px;
	line-height: 1.1;
	font-size: 16px;
}

/*-- Card Styles
--*/


.card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.card-img {
	display: flex;
}

.card-img img {
	width: 100%;
	height: auto;
}

.card-title {
	position: absolute;
	top: 0px;
}

.card-subtitle {
	position: absolute;
	bottom: 0px;
}

/*-- Utility Classes
--*/
.shadow-2 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
}

.block-ctr {
	display: block;
	margin: 0 auto;
}

.resp-img {
	width: 100%;
	height: auto;
}

/*-- Media Queries
--*/

@media (min-width: 600px) {
	.c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14 {
		width: 50%;
	}
	.cr > h1 {
		font-size: 6rem;
		line-height: 1.1;
		margin: 0;
		padding: 0;
	}
	span.tagline {
		font-size: 1rem;
	}
}

@media (min-width: 800px) {
	.c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14  {
		width: 25%;
	}
	
	.cr > h1 {
		font-size: 10rem;
		line-height: 1.2;
		margin: 0;
		padding: 0;
	}
	span.tagline {
		font-size: 2rem;
	}
}

@media (min-width: 1000px) {
	.c1 {
		width: 60%;
	}
	.c2 {
		width: 40%;
	}
}
/*-- Demo divs
--*/

.cr {
  color: #ddd;
  background-color: darkgreen;
}

.c1 {
  color: #ddd;
  background-color: #FFF;
}

.c2 {
  color: #222;
  background-color: #DADADA;
}

.c3 {
  color: #333;
  background-color: #b4d2f7;
}

.c4 {
  color: #333;
  background-color: #d5dfef;
}

.c5 {
  color: #333;
  background-color: #dfe1e5;
}

.c6 {
  color: #333;
  background-color: #ccc;
}

.c7 {
  color: #ddd;
  background-color: #003476;
}

.c8 {
  color: #ddd;
  background-color: #0062d2;
}

.c9 {
  color: #333;
  background-color: #b4d2f7;
}

.c10 {
  color: #333;
  background-color: #d5dfef;
}

.c11 {
  color: #333;
  background-color: #dfe1e5;
}

.c12 {
  color: #333;
  background-color: #ccc;
}

.c13 {
  color: #333;
  background-color: #dfe1e5;
}

.c14 {
  color: #333;
  background-color: #ccc;
}